body{
    margin: 0;
    padding:0;
}
.container{
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
}
h1{
    font-size: 4rem;
    font-weight: 100;
}
.number{
    
    font-size: 4rem;
    font-weight: 530;
}
.btns{
    display: flex;
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 2.2rem;
}
.btn{
    margin-right: 3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 12px;
    letter-spacing: 5px;
}
.number{
    margin-top: -2.5rem;
}
